@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand:wght@500&display=swap');
.footer{
    background-color: #0065E0;
}
.footer h6{
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;
}
.footer p{
    font-family: 'Quicksand', sans-serif;
    padding-left: 15px;
}
a{
    padding: 20px;
}
.row{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}
.socialIcons{
padding-top: 40px;
text-align: center;
}
.hrsc{
    font-family: 'Quicksand', sans-serif;
    margin-top: 35px;
}
.backgroundOne{
    background-color: #fafafa;
  }
  .footerLogo {
      width: 300px;
      margin: 0 0;
  }